@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Redhatdisplay";
    font-weight: 400;
    src: url("/fonts/RedHatDisplay/RedHatDisplay-Regular.ttf");
    font-display: block;
    font-style: normal;
}

body {
    font-family: "Redhatdisplay";
}

.text40 {
    @apply lg:text-[2.08333333333vw] text-[] lg:leading-[2.60416666667vw] text-[#192F59]
}


.ltr .mr_Auto {
    @apply mr-auto
}

.rtl .mr_Auto {
    @apply ml-auto
}

.ltr .DepartmentMajorCard:hover .chevron {
    transform: translateX(1vw);
}

.rtl .DepartmentMajorCard:hover .chevron {
    transform: translateX(-1vw);
}

.Pagination .Numbers.active,
.Pagination .Numbers:hover {

    @apply text-[#192F59]
}

.DepartmentMajorCardOverlay {
    background: linear-gradient(194deg, rgba(28, 28, 28, 0.00) 47.84%, rgba(28, 28, 28, 0.80) 75.55%);
    ;
}

.HeroOverlyFull {
    background: linear-gradient(180deg, rgba(28, 28, 28, 0.90) 3.86%, rgba(25, 47, 89, 0.10) 48.58%, rgba(25, 47, 89, 0.60) 100%);
}

.HeroOverlayBottom {
    background: linear-gradient(2deg, #192F59 2.06%, rgba(25, 47, 89, 0.00) 98.03%);
}

.CampusFacilitiesBG {
    background: var(--Navy, #192F59);
}

.BAMasterProgramGradientBG {
    background: linear-gradient(0deg, rgba(25, 47, 89, 0.03) 0%, rgba(25, 47, 89, 0.03) 100%), #FFF;
    ;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    bottom: 0 !important;
    top: unset !important;
}

/* DEKSTOP  */

@media (min-width:1024px) {

    .swiper-slide {
        width: 29.5833333333vw !important;

    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 2.13541666667vw !important;
        height: 2.13541666667vw !important;


    }

    .paddingBottomBAMaster {
        padding-bottom: 4.89583333333vw !important;
    }

    .ltr .swiper-button-next {
        right: 4.16666666667vw;
    }

    .ltr .swiper-button-prev {
        left: unset !important;
        right: 7.96875vw !important;
    }

    .rtl .swiper-button-next {
        right: unset !important;
        left: 7.96875vw !important;
    }

    .rtl .swiper-button-next {
        left: 4.16666666667vw;
    }


}

@media (max-width:1024px) {
    .ltr .swiper-button-next {
        right: 40px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px !important;
        height: 30px !important;
    }



    .ltr .swiper-button-prev {
        left: unset !important;
        right: 90px !important;
    }

    .rtl .swiper-button-next {
        right: unset !important;
        left: 90px !important;
    }

    .rtl .swiper-button-next {
        left: 40px;
    }


    .swiper-slide {
        width: 48% !important;
    }

    .swiper-button-prev {
        width: 30px !important;
        height: 30px !important;
    }

    .paddingBottomBAMaster {
        padding-bottom: 73px !important;
    }

    .ltr .swiper-button-next {
        right: 40px;
    }

    .ltr .swiper-button-prev {
        left: unset !important;
        right: 90px !important;
    }

    .rtl .swiper-button-next {
        right: unset !important;
        left: 90px !important;
    }

    .rtl .swiper-button-next {
        left: 40px;
    }
}

/* TABLET  */

@media (min-width:640px) {}

/* MOBILE  */
@media (max-width:640px) {
    .swiper-slide {
        width: 85.854% !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 26px !important;
        height: 26px !important;

    }

    .ltr .swiper-button-next {
        right: 30px;
    }

    .ltr .swiper-button-prev {
        left: unset !important;
        right: 80px !important;
    }

    .rtl .swiper-button-next {
        right: unset !important;
        left: 80px !important;
    }

    .rtl .swiper-button-next {
        left: 30px;
    }
}


@layer components {
    .DepartmentMajorCard {
        @apply relative flex justify-center items-end w-full lg:w-[29.5833333333vw] h-[448px] lg:h-[35.2604166667vw]
    }

    .ltr .ml_Auto {
        @apply ml-auto
    }

    .rtl .ml_Auto {
        @apply mr-auto
    }

    /* sadasdasdadasd */


    .myContainer {
        @apply lg:w-[91.5625vw] w-[90.699%] mx-[auto];
      }
      .text14 {
        @apply lg:text-[0.72916666666vw] lg:leading-[1.25vw];
      }
      .text16 {
        @apply lg:text-[0.83333333333vw] lg:leading-[1.35416666667vw];
      }
      .text18 {
        @apply lg:text-[0.9375vw] lg:leading-[1.45833333333vw];
      }
      .text20 {
        @apply lg:text-[1.04166666667vw] lg:leading-[1.5625vw];
      }
      .text22 {
        @apply lg:text-[1.14583333333vw] lg:leading-[1.66666666667vw];
      }
      .text25 {
        @apply lg:text-[1.30208333333vw] lg:leading-[1.82291666667vw];
      }
      .text30 {
        @apply lg:text-[1.5625vw] lg:leading-[2.08333333333vw];
      }
      .text35 {
        @apply lg:text-[1.82291666667vw] lg:leading-[2.08333333333vw];
      }
      .text40 {
        @apply lg:text-[2.08333333333vw] lg:leading-[2.60416666667vw]
        text-[25px] leading-[35px] capitalize;
      }
      .text50 {
        @apply lg:text-[2.60416666667vw] lg:leading-[3.125vw]
        text-[28px] leading-[38px] capitalize;
      }
      .text60 {
        @apply lg:text-[3.125vw] lg:leading-[3.64583333333vw]
        text-[32px] leading-[42px] capitalize f800;
      }
      .text70 {
        @apply lg:text-[3.64583333333vw] lg:leading-[5.20833333333vw]
        text-[32px] leading-[42px] capitalize f800;
      }
      .text90 {
        @apply lg:text-[4.6875vw] lg:leading-[5.20833333333vw]
        text-[32px] leading-[42px] capitalize f800;
      }
      .mtext14 {
        @apply text-[14px] leading-[25px];
      }
      .mtext15 {
        @apply text-[15px] leading-[25px];
      }
      .mtext16 {
        @apply text-[16px] leading-[26px];
      }
      .mtext18 {
        @apply text-[18px] leading-[28px];
      }
      .mtext20 {
        @apply text-[20px] leading-[30px];
      }
      .mtext22 {
        @apply text-[22px] leading-[32px];
      }
      .mtext24 {
        @apply text-[24px] leading-[34px];
      }
      .mtext30 {
        @apply text-[30px] leading-[40px];
      }
      .px20 {
        @apply lg:px-[4.16666666667vw] px-[20px];
      }
      .gapy20 {
        @apply lg:gap-y-[1.04166666667vw] gap-y-[16px];
      }
      .mt20 {
        @apply lg:mt-[1.04166666667vw] mt-[16px];
      }
      .mt30 {
        @apply lg:mt-[1.5625vw] mt-[22px];
      }
      .py1 {
        @apply sm:py-[120px] py-[80px];
      }
      .p30 {
        @apply lg:p-[1.5625vw] sm:p-[20px] p-[15px];
      }
      .gap30 {
        @apply lg:gap-[1.5625vw] sm:gap-[20px] gap-[15px];
      }
      .p60 {
        @apply lg:p-[3.125vw] sm:p-[40px] p-[30px];
      }
      .border10 {
        @apply lg:rounded-[0.52083333333vw] rounded-[10px];
      }
      .border15 {
        @apply lg:rounded-[0.78125vw] rounded-[15px];
      }
      .border20 {
        @apply lg:rounded-[1.04166666667vw] rounded-[20px];
      }
      .border25 {
        @apply lg:rounded-[1.30208333333vw] rounded-[20px];
      }
      .border31 {
        @apply lg:rounded-[1.61458333333vw] rounded-[31px];
      }
      .border42 {
        @apply lg:rounded-[2.1875vw] rounded-[42px];
      }
      .border77 {
        @apply lg:rounded-[4.01041666667vw] rounded-[77px];
      }
      .border69 {
        @apply lg:rounded-[3.59375vw] rounded-[69px];
      }
      .border80 {
        @apply lg:rounded-[4.16666666667vw] rounded-[80px];
      }
      .border93 {
        @apply lg:rounded-[4.84375vw] rounded-[93px];
      }
      .f300 {
        @apply font-[300];
      }
      .f400 {
        @apply font-[400];
      }
      .f500 {
        @apply font-[500];
      }
      .f600 {
        @apply font-[600];
      }
      .f700 {
        @apply font-[700];
      }
      .f800 {
        @apply font-[800];
      }
    
      /* privacy_Terms */
      .privacy_Terms {
        @apply lg:text22 mtext14;
      }
      /* privacy_Terms */
    
      /* programStructure */
      .programStructure {
        @apply lg:text22 mtext16 w-full flex flex-wrap lg:gap-[1.5625vw] sm:gap-[20px] gap-[16px];
      }
      .programStructure ul {
        @apply border10 bg-[#F8F9FA] p30 lg:w-[27.3958333333vw] sm:w-[47%] w-full;
      }
    
      /* programStructure */
      /* service_Procedures */
      .admission_Transfer ul li::before,
      .programStructure ul li::before,
      .service_Procedures ul li::before {
        @apply content-[""] rounded-full absolute w-[3.5px] h-[3.5px] sm:w-[4px] sm:h-[4px] lg:w-[0.234375vw] lg:h-[0.234375vw] bg-[#192F59] lg:top-[0.72916666666vw] top-[10px];
      }
      /* service_Procedures */
    
      /* singleProgram_Overview */
    
      .singleProgram_Overview {
        @apply lg:text25 mtext16;
      }
      .privacy_Terms ul li,
      .privacy_Terms ol li,
      .programStructure ul li,
      .programStructure ol li,
      .service_Procedures ul li,
      .service_Procedures ol li,
      .singleProgram_Overview ul li,
      .singleProgram_Overview ol li {
        @apply flex flex-col relative;
      }
      .privacy_Terms ul li::before,
      .singleProgram_Overview ul li::before {
        @apply content-[""] rounded-full absolute w-[3.5px] h-[3.5px] sm:w-[5px] sm:h-[5px] lg:w-[0.34722222222vw] lg:h-[0.34722222222vw] bg-[#192F59] lg:top-[1.04166666667vw] top-[12px] transform translate-y-[-50%];
      }
    
      .privacy_Terms ol li::before,
      .singleProgram_Overview ol li::before {
        @apply absolute lg:text25 mtext16 lg:top-[1.04166666667vw] top-[12px] transform translate-y-[-50%];
      }
      .rtl .admission_Transfer ul li::before,
      .rtl .privacy_Terms ul li::before,
      .rtl .privacy_Terms ol li::before,
      .rtl .programStructure ul li::before,
      .rtl .programStructure ol li::before,
      .rtl .service_Procedures ul li::before,
      .rtl .service_Procedures ol li::before,
      .rtl .singleProgram_Overview ul li::before,
      .rtl .singleProgram_Overview ol li::before {
        @apply right-[-12px] sm:right-[-16px] lg:right-[-1.04166666667vw];
      }
    
      .ltr .admission_Transfer ul li::before,
      .ltr .privacy_Terms ul li::before,
      .ltr .privacy_Terms ol li::before,
      .ltr .programStructure ul li::before,
      .ltr .programStructure ol li::before,
      .ltr .service_Procedures ul li::before,
      .ltr .service_Procedures ol li::before,
      .ltr .singleProgram_Overview ul li::before,
      .ltr .singleProgram_Overview ol li::before {
        @apply left-[-12px] sm:left-[-16px] lg:left-[-1.04166666667vw];
      }
    
      .ltr .programStructure ul div,
      .ltr .programStructure ol div,
      .ltr .service_Procedures ul,
      .ltr .admission_Transfer ul,
      .ltr .service_Procedures ol,
      .ltr .privacy_Terms ul,
      .ltr .privacy_Terms ol,
      .ltr .singleProgram_Overview ul,
      .ltr .singleProgram_Overview ol {
        @apply flex flex-col pl-[20px] sm:pl-[25px] lg:pl-[1.97916666667vw];
      }
    
      .rtl .programStructure ul div,
      .rtl .programStructure ol div,
      .rtl .service_Procedures ul,
      .rtl .admission_Transfer ul,
      .rtl .service_Procedures ol,
      .rtl .privacy_Terms ul,
      .rtl .privacy_Terms ol,
      .rtl .singleProgram_Overview ul,
      .rtl .singleProgram_Overview ol {
        @apply flex flex-col pr-[20px] sm:pr-[25px] lg:pr-[1.97916666667vw];
      }
      /* singleProgram_Overview */
      /* .admissionsMain_Category .admissions_CategoryDiv.active {
        @apply f500;
      } */
      .admissionsMain_Category.active {
        @apply max-h-[28vw];
      }
      .admissionsMain_Category.active .admissions_CategoryDiv {
        @apply f500;
      }
      .admissionsMain_Category.active .admissions_CategoryDiv img {
        @apply transform rotate-[0];
      }
      /* FAQS */
    
      .faqMain_Category .faqMain_CategoryDiv.active {
        @apply f600;
      }
      .deliverytab_List li.active,
      .admissionsCategories li.active,
      .faqCategories li.active {
        @apply f500 text-[#192F59];
      }
      .admissionsCategories li:hover svg path,
      .admissionsCategories li.active svg path,
      .deliverytab_List li:hover svg path,
      .deliverytab_List li.active svg path,
      .faqCategories li:hover svg path,
      .faqCategories li.active svg path {
        fill: #50bd77;
      }
      /* FAQS */
      .research_Pagination .chevron {
        @apply opacity-[0.3] hover:opacity-[1] cursor-pointer relative lg:w-[2.13541666667vw] lg:h-[2.13541666667vw] sm:w-[28px] sm:h-[28px] w-[16px] h-[16px];
      }
      .research_Pagination .chevron.active,
      .research_Pagination .numbers div.active {
        @apply opacity-[1] text-[#192F59];
      }
      .research_Pagination .numbers div {
        @apply opacity-[0.3] hover:opacity-[1] hover:text-[#192F59] text-[#181818] cursor-pointer lg:px-[1.32244791667vw] px-[15px] flex items-center justify-center;
      }
      .facilityBtns button img {
        @apply lg:w-[2.08333333333vw] sm:w-[30px] w-[20px];
      }
      .facilityBtns button.active {
        @apply opacity-[0.5];
      }
      .academics_DropDown {
        @apply pointer-events-none max-h-0 opacity-0 overflow-y-auto transition-all duration-300 absolute lrf1 lg:top-[2.08333333333vw] top-[36px] w-full sm:w-[150%] border10 border-[#ffffff26] border overflow-hidden;
      }
      .contact_DropDown {
        @apply pointer-events-none max-h-0 opacity-0 overflow-y-auto transition-all duration-300 absolute lrf1 border10 overflow-hidden border-[#D1D1D1B2] border;
      }
    
      .academics_DropDown ul li {
        @apply lg:px-[0.625vw] lg:py-[0.41666666666vw] sm:px-[12px] px-[16px] p-[8px] hover:bg-[#50BD77] bg-[#0E2248] border-[#ffffff26] border-b;
      }
      .contact_DropDown ul li {
        @apply lg:px-[0.625vw] lg:py-[0.41666666666vw] sm:px-[12px] px-[16px] p-[8px] hover:bg-[#50BD77] bg-[#0E2248] border-[#D1D1D1B2] border-b;
      }
      .contact_DropDownOpen img.active,
      .academics_DropDownOpen img.active {
        @apply rotate-[180deg];
      }
      .contact_DropDown.active,
      .academics_DropDown.active {
        @apply lg:max-h-[14.5833333333vw] max-h-[250px] opacity-[1] z-[7] pointer-events-auto;
      }
    
      /* ABOUT PAGE PRINCIPLE SECTION */
      .principlestextArea p,
      .principlestextArea ul,
      .principlestextArea h5 {
        @apply lg:text30 mtext18;
      }
      .principlestextArea span {
        @apply lg:text22 mtext16;
      }
      .principlestextArea ul li,
      .principlestextArea ol li {
        @apply flex flex-col relative;
      }
      .principlestextArea ul li::before {
        @apply content-[""] rounded-full absolute w-[5px] h-[5px] lg:w-[0.34722222222vw] lg:h-[0.34722222222vw] bg-[#192F59] lg:top-[1.04166666667vw] sm:top-[14px] top-[17px] transform translate-y-[-50%];
      }
    
      .principlestextArea ol li::before {
        @apply absolute f500 text25 lg:top-[1.04166666667vw] sm:top-[14px] top-[17px] transform translate-y-[-50%];
      }
      .rtl .principlestextArea ul li::before,
      .rtl .principlestextArea ol li::before {
        @apply right-[-20px] lg:right-[-1.45833333333vw];
      }
    
      .ltr .principlestextArea ul li::before,
      .ltr .principlestextArea ol li::before {
        @apply left-[-20px] lg:left-[-1.45833333333vw];
      }
      .ltr .principlestextArea ul,
      .ltr .principlestextArea ol {
        @apply flex flex-col pl-[20px] md:pl-[2.5vw];
      }
    
      .rtl .principlestextArea ul,
      .rtl .principlestextArea ol {
        @apply flex flex-col pr-[20px] md:pr-[2.5vw];
      }
    
      .principalValues {
        @apply flex flex-wrap justify-between md:gap-y-[1vw] gap-y-[12px] Tajawal  text-[#192F59];
      }
      .principalValues > div {
        @apply lg:w-[20.7552083333vw] flex flex-col;
      }
      .principalValues > div span {
        @apply font-[500] text30 mb-[0.35vw];
      }
      .principalValues > div p {
        @apply text22;
      }
      .principalValues > div:nth-of-type(2n) {
        @apply md:translate-y-[3.33333333333vw];
      }
      /* .principalValues > div:nth-of-type(4n) {
        background-color: red;
      } */
      /* ABOUT PAGE PRINCIPLE SECTION */
    
      .rtl [data-aos="fade-up"],
      .ltr [data-aos="fade-up"] {
        transform: translate3d(0, 45px, 0);
      }
      .rtl [data-aos="fade-down"],
      .ltr [data-aos="fade-down"] {
        transform: translate3d(0, -45px, 0);
      }
    
      /* singlePage_Content */
    
      .singlePage_Content {
        @apply lg:w-[60.5729166667vw] lg:text22 mtext16 mtext14
         flex flex-col md:gap-y-[1.66666666667vw] gap-y-[18px];
      }
    
      .singlePage_Content div {
        @apply flex flex-col gapy20;
      }
    
      .singlePage_Content h1 {
        @apply text70;
      }
      .singlePage_Content h2 {
        @apply text40;
      }
      .singlePage_Content h3 {
        @apply lg:text40 mtext22;
      }
      .singlePage_Content h4 {
        @apply lg:text30 mtext20;
      }
      .singlePage_Content ul li,
      .singlePage_Content ol li {
        @apply flex flex-col relative;
      }
      .singlePage_Content ul li::before {
        @apply content-[""] rounded-full absolute w-[5px] h-[5px] lg:w-[0.34722222222vw] lg:h-[0.34722222222vw] bg-[#192F59] lg:top-[1.04166666667vw] sm:top-[14px] top-[17px] transform translate-y-[-50%];
      }
    
      .singlePage_Content ol li::before {
        @apply absolute f500 text25 lg:top-[1.04166666667vw] sm:top-[14px] top-[17px] transform translate-y-[-50%];
      }
      .rtl .singlePage_Content ul li::before,
      .rtl .singlePage_Content ol li::before {
        @apply right-[-20px] lg:right-[-1.45833333333vw];
      }
    
      .ltr .singlePage_Content ul li::before,
      .ltr .singlePage_Content ol li::before {
        @apply left-[-20px] lg:left-[-1.45833333333vw];
      }
      .ltr .singlePage_Content ul,
      .ltr .singlePage_Content ol {
        @apply flex flex-col pl-[20px] md:pl-[2.5vw];
      }
    
      .rtl .singlePage_Content ul,
      .rtl .singlePage_Content ol {
        @apply flex flex-col pr-[20px] md:pr-[2.5vw];
      }
    
      .ltr .singlePage_Content ul,
      .ltr .singlePage_Content ol {
        @apply flex flex-col pl-[20px] md:pl-[2.77777777778vw];
      }
      .rtl .singlePage_Content ul,
      .rtl .singlePage_Content ol {
        @apply flex flex-col pr-[20px] md:pr-[2.77777777778vw];
      }
    
      .singlePage_Content img {
        @apply w-full aspect-[2/1.5] lg:aspect-[3/1] object-cover border20 lg:mb-[1.66666666667vw] mb-[24px];
      }
    
      .singlePage_Content ul li,
      .singlePage_Content ol li {
        @apply flex relative lg:text22 mtext16 mtext14;
      }
    
      .singlePage_Content ol {
        counter-reset: custom-counter;
      }
      .singlePage_Content ol li {
        counter-increment: custom-counter;
      }
      .singlePage_Content ol li::before {
        content: counter(custom-counter, decimal-leading-zero) ". " !important;
      }
      .singlePage_Content a {
        @apply text-[#4fe0ae] underline underline-offset-[2px];
      }
      .singlePage_Content table {
        width: 100%;
        border-collapse: collapse;
        background-color: white;
      }
      .singlePage_Content table {
        @apply rounded-[14px] md:rounded-[1vw];
      }
      .singlePage_Content th,
      .singlePage_Content td {
        border: 1px solid #eee; /* Add a light gray border */
      }
    
      .singlePage_Content th,
      .singlePage_Content td {
        @apply p-[14px] md:rounded-[1vw];
      }
      .singlePage_Content th {
        background-color: #4fe0a3; /* Set the header background color to green */
        color: white; /* Set text color for header cells */
      }
    
      /* Add hover effect for table rows */
      .singlePage_Content tr:hover {
        background-color: #f5f5f5; /* Light gray background on hover */
        cursor: pointer;
      }
    
      /* Basic styling for the sin.singlePage_Content blockquote */
      .singlePage_Content blockquote {
        @apply p-[24px] lg:p-[1.25vw]  italic bg-[#f9f9f9] text-[#555];
      }
      .rtl .singlePage_Content blockquote {
        @apply border-r-[4px] lg:border-r-[0.3vw] border-[#ccc];
      }
      .ltr .singlePage_Content blockquote {
        @apply border-l-[4px] lg:border-l-[0.3vw] border-[#ccc];
      }
    
      /* singlePage_Content */
      .atlwh_Full {
        @apply absolute top-0 lrf1 w-full h-full;
      }
      .ltr .lrf1 {
        @apply left-0;
      }
      .rtl .lrf1 {
        @apply right-0;
      }
      .ltr .lrf2 {
        @apply right-0;
      }
      .rtl .lrf2 {
        @apply left-0;
      }
      .ltr .ml_Auto {
        @apply ml-[auto];
      }
      .rtl .ml_Auto {
        @apply mr-[auto];
      }
      .ltr .mr_Auto {
        @apply mr-[auto];
      }
      .rtl .mr_Auto {
        @apply ml-[auto];
      }
    
      .rtl .flipped {
        @apply scale-x-[-1];
      }
      .rtl .flipped {
        @apply scale-x-[-1];
      }
      .rtl .noflipped {
        @apply scale-x-[1];
      }
      .opacity_Hover {
        transition: all 0.3s;
      }
    
      .opacity_Hover:hover {
        opacity: 0.7;
      }
    }
    .college-campusFacilities .content p {
      color: #e5e5e5;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .hideScroll::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .hideScroll {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .college-section {
      background-image: var(--college-background-img);
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .admissionsCategories li:last-child {
      border: none;
      padding-bottom: unset;
    }
    table.single_Programs tbody tr:last-child,
    table.programStructure_Table tbody tr:last-child,
    table.requiredscores_Table tbody tr:last-child,
    .table_List li:last-child > div {
      border: none;
    }
    .no-caret {
      caret-color: transparent;
    }
    .structure_Overlay {
      background: linear-gradient(
          0deg,
          rgba(25, 47, 89, 0.03) 0%,
          rgba(25, 47, 89, 0.03) 100%
        ),
        #fff;
    }
    .home_AboutOverlay {
      background: linear-gradient(-251deg, #1f537d 79.54%, #5e89b4 121.97%);
    }
    .home-hero-overlay1 {
      background: linear-gradient(
        180deg,
        rgba(9, 47, 71, 0.6) 0%,
        rgba(9, 47, 71, 0.1) 52.5%,
        #1f537d 100%
      );
    }
    .hero-overlay2 {
      background: linear-gradient(180deg, rgba(25, 47, 89, 0.8) 0%, #192f59 100%);
    }
    .hero-overlay3 {
      background: linear-gradient(180deg, rgba(25, 47, 89, 0.8) 0%, #192f59 67.45%);
    }
    .hero-overlay4 {
      background: linear-gradient(
        180deg,
        rgba(28, 28, 28, 0.9) 3.86%,
        rgba(25, 47, 89, 0.1) 48.58%,
        rgba(25, 47, 89, 0.6) 100%
      );
    }
    .hero-overlay5 {
      background: linear-gradient(0deg, #192f59 2.06%, rgba(25, 47, 89, 0) 98.03%);
    }
    .hero-overlay6 {
      background: linear-gradient(
        180deg,
        rgba(25, 47, 89, 0.8) 0%,
        rgba(25, 47, 89, 0.8) 100%
      );
    }
    .bachelor-card-overlay {
      background: linear-gradient(
        194deg,
        rgba(9, 47, 71, 0) 47.84%,
        rgba(9, 47, 71, 0.8) 75.55%
      );
    }
    .news-card-overlay {
      background: linear-gradient(
        194deg,
        rgba(9, 47, 71, 0) 47.84%,
        rgba(9, 47, 71, 0.8) 92.4%
      );
    }
    .ba-card-overlay {
      border-radius: 10px;
      background: linear-gradient(
          0deg,
          rgba(125, 162, 197, 0.1) 0%,
          rgba(125, 162, 197, 0.1) 100%
        ),
        #fff;
    }
    .cta_Overlay {
      background: linear-gradient(85deg, #50bd77 30.11%, #192f59 99.96%);
    }
    .college-overlay {
      background: linear-gradient(
        125deg,
        #192f59 19.16%,
        rgba(61, 177, 102, 0.9) 102.58%
      );
    }
    .principlestextArea {
      background: linear-gradient(
          0deg,
          rgba(25, 47, 89, 0.03) 0%,
          rgba(25, 47, 89, 0.03) 100%
        ),
        #fff;
    }
    
    .academics_DropDown ul li:last-child {
      border: unset !important;
    }
    .activeFaqSidebarOverlay {
      animation: search-fade 400ms linear forwards;
      animation-delay: 500ms;
    }
    .search-overlay {
      animation: search-fade 250ms linear forwards;
      animation-delay: 300ms;
    }
    @keyframes search-fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .research_Popup {
      animation: search-fade 0.2s linear forwards;
    }
    @keyframes search-fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    .navGrid {
      display: grid;
      grid-template-areas:
        "ul1 ul2"
        "ul1 ul3"
        "ul1 ul3";
    }
    .navGrid > ul:nth-child(1) {
      grid-area: ul1;
      width: 45.2083333333vw;
    }
    .navGrid > ul:nth-child(2) {
      grid-area: ul2;
    }
    .navGrid > ul:nth-child(3) {
      grid-area: ul3;
    }
    .navGrid > ul:nth-child(1) > li > ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 1vw;
    }
    .navGrid > ul:nth-child(1) > li > ul > li {
      width: 18.90625vw;
    }
    
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: unset !important;
      bottom: 0 !important;
    }
    .singlePage_Swiper .swiper-button-next,
    .singlePage_Swiper .swiper-button-prev {
      margin: unset !important;
    }
    .ltr .singlePage_Swiper .swiper-button-next {
      right: -1.65% !important;
    }
    .rtl .singlePage_Swiper .swiper-button-next {
      left: -1.65% !important;
      right: unset !important;
    }
    .ltr .singlePage_Swiper .swiper-button-prev {
      left: -1.65% !important;
    }
    .rtl .singlePage_Swiper .swiper-button-prev {
      right: -1.65% !important;
      left: unset !important;
    }
    .ltr .facultymembers_Swiper .swiper-button-next {
      right: 0 !important;
    }
    .rtl .facultymembers_Swiper .swiper-button-next {
      left: 0 !important;
      right: unset !important;
    }
    .ltr .facultymembers_Swiper .swiper-button-prev {
      left: 0 !important;
    }
    .rtl .facultymembers_Swiper .swiper-button-prev {
      right: 0 !important;
      left: unset !important;
    }
    
    @media (min-width: 1024px) {
      .affairs_Card:hover .content {
        transform: translateY(0) !important;
      }
      .affairs_Card:hover .desc {
        padding-top: 1.25vw !important;
      }
      .singlePage_Swiper .swiper-button-next,
      .singlePage_Swiper .swiper-button-prev {
        top: 22.2395833333vw !important;
      }
      .singlePage_Swiper .swiper-button-next,
      .singlePage_Swiper .swiper-button-prev {
        width: 3.02083333333vw !important;
        height: 3.02083333333vw !important;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 2.13541666667vw !important;
        height: 2.13541666667vw !important;
      }
      .ltr .swiper-button-next {
        right: 4.27083333333vw !important;
      }
      .rtl .swiper-button-next {
        left: 4.27083333333vw !important;
      }
      .ltr .swiper-button-prev {
        right: 7.96875vw !important;
        left: unset !important;
      }
      .rtl .swiper-button-prev {
        left: 7.96875vw !important;
      }
      .ltr .affairs_Swiper .swiper-button-next {
        right: unset !important;
        left: 4.73958333333vw !important;
      }
      .rtl .affairs_Swiper .swiper-button-next {
        right: 4.73958333333vw !important;
      }
      .ltr .affairs_Swiper .swiper-button-prev {
        left: 0 !important;
      }
      .rtl .affairs_Swiper .swiper-button-prev {
        right: 0 !important;
      }
      .affairs_Swiper .swiper-button-next,
      .affairs_Swiper .swiper-button-prev {
        top: 1.06770833333vw !important;
      }
      .latestEventsSwiper.affairs_Swiper .swiper-button-next,
      .latestEventsSwiper.affairs_Swiper .swiper-button-prev {
        bottom: 6.51041666667vw !important;
        top: unset !important;
      }
    }
    @media (max-width: 1024px) {
      .singlePage_Swiper .swiper-button-next,
      .singlePage_Swiper .swiper-button-prev {
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 26.529px !important;
        height: 26.529px !important;
      }
      .ltr .swiper-button-next {
        right: 20px !important;
      }
      .rtl .swiper-button-next {
        left: 20px !important;
      }
      .ltr .swiper-button-prev {
        right: 66px !important;
        left: unset !important;
      }
      .rtl .swiper-button-prev {
        left: 66px !important;
      }
    }
    @media (min-width: 640px) {
    }
    @media (max-width: 640px) {
    }
    
    /* LightBox CSS Start */
    .lightboxContainer {
      background: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);
    }
    .lightboxContainer::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50px;
      border: 5px solid grey;
      border-top-color: black;
      animation: loading 2s linear infinite;
    }
    .lightboxContainer::after {
      @apply w-[50px] h-[50px] md:w-[5vw] h-[5vw];
    }
    @keyframes loading {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    .rtl .lightboxNavigationTop {
      top: 0;
      left: 0;
    }
    .ltr .lightboxNavigationTop {
      top: 0;
      right: 0;
    }
    .rtl .lightboxNextButton {
      left: 0;
    }
    .ltr .lightboxNextButton {
      right: 0;
    }
    .rtl .lightboxPrevButton {
      right: 0;
    }
    .ltr .lightboxPrevButton {
      left: 0;
    }
    .rtl .lightboxPrevButton svg {
      transform: scaleX(-1);
    }
    .ltr .lightboxNextButton svg {
      transform: scaleX(-1);
    }
    